@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Bold_30.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Bold_30.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Bold_30.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Bold_30.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Bold_30.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Asap_30.0.0_google";
  src: url("../../../fonts/Asap-Regular_30.0.0_google.ttf");
  font-weight: 400; 
}